
@model IEnumerable<Workly.Models.Job>

@{
    ViewBag.Title = "";
}

<h2>Jobs List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="jobs">
    <thead>
            <th style="background-color: #C9C7C7">Work</th>
            <th style="background-color: #C9C7C7">Field</th>
            <th style="background-color: #C9C7C7">Start</th>
            <th style="background-color: #C9C7C7">Locality</th>
            <th style="background-color: #C9C7C7">Salary</th>
            <th style="background-color: #C9C7C7">Duration</th>
    </thead>
    <tbody>
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
          var table=$("#jobs").dataTable({
                ajax: {
                    url: "/api/jobs",
                    dataSrc: ""
                },
                columns: [
                        {
                            data:"Work",
                           render: function (data, type, job) {
                                return "<a href='/jobs/edit/" + job.Id + "'>" + job.Work + "</a>";
                            }
                        },
                    {
                      data:"Field"
                    },
                    {
                        data: "Start",
                        render: function (data) {
                            return data.substring(0, 10);
                        }
                    },
                    {
                        data: "Locality"
                    },
                    {
                        data: "Salary"
                    },
                    {
                        data: "Duration"
                    }
                    ]
            });
            $("#jobs").on("click",".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want delete this job?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/jobs/" + button.attr("data-job-id"),
                            method: "DELETE",
                            success: function () {
                                table.api().row(button.parents("tr")).remove().draw();
                            }
                        })
                    }
                })
            })

        })
    </script>
}