
@model IEnumerable<Workly.Models.Job>

@{
    ViewBag.Title = "";
}

<h2>Interested Jobs List</h2>

<table class="table" id="jobs">
    <thead>
            <th style="background-color: #C9C7C7">Work</th>
            <th style="background-color: #C9C7C7">Field</th>
            <th style="background-color: #C9C7C7">Start</th>
            <th style="background-color: #C9C7C7">Locality</th>
            <th style="background-color: #C9C7C7">Salary</th>
            <th style="background-color: #C9C7C7">Duration</th>
    </thead>
    <tbody>
    </tbody>
</table>