@{
    ViewBag.Title = "WORKLY";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Workly gives you an opportunity to find short term job easily. Moreover, if you want you can post your job offers very quickly.</p>
