@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WORKLY</h1>
    <p>
    Gives you an opportunity to find short term job easily. Moreover, if you want you can post your job offers very quickly.
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        
        <p><a class="btn btn-default" href=""> Post a job offer &raquo;</a></p>
        <p><a class="btn btn-default" href="Job"> Find the job &raquo;</a></p>
    </div>
  
   
</div>